# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Validate and build treebank

on:
  push:
    branches: [ "main" ]
  
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install cgel submodule dependencies
      run: |
        pip install -r cgel/requirements.txt
    - name: Validate trees including tree_by, :p, and :xpos checks
      run: |
        N=`ls datasets/*/*.cgel | wc -l`
        echo "checking $N files..."
        for F in datasets/*/*.cgel; do
          TREELINES=`egrep -v '^#' $F | wc -l`
          if [ "$TREELINES" -ge 1 ]; then
            python cgel/validate_trees.py --punct $F
          fi
        done
    - name: Config github actions bot
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Build (update stats, index, all.trees) 
      run: |
        ./build.sh
        git add INDEX.md
        git add STATS.md
        git add all.trees
        git commit -m "build"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
